{
    email {$ACME_EMAIL}
}

api.jointhebodyinstitute.com {
    encode zstd gzip

    request_body {
        max_size 500MB
    }

    reverse_proxy api:8000
}

admin.jointhebodyinstitute.com {
    encode zstd gzip
    reverse_proxy admin:80
}
