MONGODB_URI=
API_PREFIX=/api/v1
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=10080
OTP_EXPIRE_MINUTES=
RETURN_DEV_OTP=

GOOGLE_CLIENT_ID=
APPLE_CLIENT_ID=

REVENUECAT_WEBHOOK_AUTH=
REVENUECAT_SECRET_API_KEY=
REVENUECAT_PROJECT_ID=
REVENUECAT_ENTITLEMENT_ID=