MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=bodyaxis

API_V1_PREFIX=/api/v1
SECRET_KEY=replace-with-a-long-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=10080
OTP_EXPIRE_MINUTES=10
RETURN_DEV_OTP=true

GOOGLE_CLIENT_ID=
APPLE_CLIENT_ID=
